.show{
    opacity: 1;
    /* transition: all 1s ease; */
    animation: show-item 1s ease forwards;
}

.hide{
    opacity: 0;
    /* transition: all 1s ease; */
    animation: hide-item 1s ease forwards;
}

@keyframes show-item{
    0% {
        opacity: 0;
        color: pink;
    }
    50% {
        opacity: 0.5;
        color: palevioletred
    }
    100% {
        opacity: 1;
        color: purple;
    }
}

@keyframes hide-item{
    0% {
        opacity: 1;
        color: pink;
    }
    50% {
        opacity: 0.5;
        color: palevioletred
    }
    100% {
        opacity: 0;
        color: purple;
    }
}

.fade-enter, .fade-appear{
    opacity: 0;
}

.fade-enter-active, .fade-appear-active{
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-enter-done{
    opacity: 1;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-exit-done{
    opacity: 0;
}